.Board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  background-color: #292429;
  height: 89vh;
  width: 88%;
  padding: 3vw 6vw;
}

.Modal {
  visibility: hidden;
  position: absolute;
  z-index: 9;
  width: 10rem;
  font-size: 2rem;
  margin: auto;
  height: 2rem;
  text-align: center;
  left: 43vw;
  padding: 2rem;
  color: white;
  top: 46vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 19px 38px rgba(255, 255, 255, 0.30), 0 15px 12px rgba(255, 255, 255, 0.22);
  box-shadow: 0 19px 48px rgb(255 255 255 / 30%), 0 -35px 52px rgb(255 255 255 / 22%); */

}

.Akinhwan {
  position: absolute;
  bottom: 0;
  right: 0;
}

.Akinhwan>a {
  color: white;
}

.Player {
  padding: 1px 5px;
  font-size: 0.8rem;
  position: absolute;
  color: white;
}