.Cell {
  border-radius: 50%;
  background-color: #ececec;
  height: 12vh;
  width: 12vh;
  margin: auto;
  /* box-shadow: inset .2rem .2rem .5rem #c8d0e7,
    inset -.2rem -.2rem .5rem #000; */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

}